<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <title>Clase Angular</title>
  </head>
  <body>
    <!--
    <h1>Hola mundo</h1>
    <h1>{{"Hola mundo"}}</h1>
    -->

    <!-- Filtros en angular
    <div>
      <h4>Filtros de angular</h4>
      <span>iSeLa</span><br>
      <span>{{"iSeLa"|lowercase}}</span><br>
      <span>{{"iSeLa"|uppercase}}</span><br>
      <span>1350</span><br>
      <span>{{1350.25|currency}}</span><br>
      <span>1234566789</span><br>
      <span>{{1234566789|number}}</span><br>
    </div>
    -->

    <!--Directiva para Ligar variables-->
    <h4>Ng-model en angular</h4>
    <p>
      <label>Dime tu nombre:</label>
      <input type="text" ng-model="nombre" placeholder="Aquí va tu nombre"></input>
    </p>
    <p>
      <label>Tu nombre es:</label>{{nombre|uppercase}}
    </p>

    <p>
      <label>Seleccionar país:</label>
      <select ng-model="pais">
        <option value="1" selected>México</option>
        <option value="2">Francia</option>
        <option value="3">Alemania</option>
      </select>
      <br>
      <label>El país seleccionado es: </label>{{pais}}
    </p>

    <p>
      <label>Seleccione género:</label>
      <br>
      <input type="radio" checked="checked" ng-model="genero" value="M" >Masculino
      <br>
      <input type="radio" ng-model="genero" value="F">Femenino
      <br>
      <label>El género seleccionado es:</label>{{ genero }}
    </p>

    <p>
      <label>¿Cuál o cualés son tus pasatiempos?</label><br>
      <input type="checkbox" ng-model="opcion1">Patinar
      <br>
      <input type="checkbox" ng-model="opcion2">Bailar
      <br>
      <input type="checkbox" ng-model="opcion3">Nadar
      <br>
      <label>A ti te gusta: </label>{{opcion1}}{{opcion2}}{{opcion3}}
    </p>



    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
